#content2{
    background-color: #ECFCED;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.lista-zakupow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item-zakupowy{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px;
    width: 484px;
    height: 140px;
    background-color: #F1EFEF;
}
.miniFoto{
    margin: 11px 0px 10px 9px;
}
.tytulek{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.co{
    font-size: 1.2em;
    padding-top: 11px;
}
.tytulek2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}
.fat{
    font-weight: bold;
}



.cena-zakupu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #D9D9D9;
    margin-top: 15px;
}
#ileRazem{
    font-size: 3vh;
    padding-top: 3px;
}
#formPlace{
    width: 100%;
    margin: 15px 6px 15px 6px;
}
#doZaplaty{
    padding: 13px;
    font-size: 1.5vh;
}
#place{
    width: 100%;
    height: 100%;    
    font-size: 3vh;
    color: white;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 20px;
    cursor: pointer;
}
