.foto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
}

.mainFoto{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.f{
    display: block;
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
}

.panel-prawy{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 600px;
}

.tytulCena{}
#tytul{
    display: block;
    font-weight: bold;
    font-size: 1.7em;
}
#cena{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
}
#ileKoszyk{
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 5px;
}
#formButton{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 0px;
    margin-right: 10px;
    max-height: 60px;  
    max-width: 100%;  
}
#ile{
    display: block;
    max-width: 60px;
    max-height: 40px;
    font-size: 100%;
    font-weight: bold;
}
.doKoszykaDuzy{
    display: block;
    max-width: 270px;
    max-height: 100%;
    color: white;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 2.3vh;
    cursor: pointer;
    font-weight: bold;
}

.blokOpisu{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;
    box-shadow: 6px 6px 4px #000000;
    padding: 5px;
}
.blokOpisu a{
    text-decoration: none;
    font-weight: bold;
}
.blokOpisu a:hover{
    text-decoration: none;
    color: #0FDAE7;
}
.nfo{
    text-align:right;
}
#opis{
    display:none;
}
#opis:target{
    display:block;
}
#detale{
    display:none;
}
#detale:target{
    display:block;
}
